<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body class="fondo14">
	<header th:replace="layout/layout :: header"></header>

	<div class="container  col-4 py-4">

		<div class="card bg-light">
			<strong>
				<div class="card-header bg-light text-center text-dark" th:text=${titulo}></div>
			</strong>
			<div class="card-body bg-light text-dark">



				<form th:action="@{/central-integral-vehicular/crearUsuario}" th:object="${usuario}" method="post"
					enctype="multipart/form-data">

					<div class="form-group" hidden>
						<label class="col-sm-4 col-form-label">ID</label> <input th:field="*{id}" type="text"
							class="form-control" />
					</div>
					<div class="form-group">

						<label class="col-form-label">Usuario</label>
						<input type="text" th:field="*{username}" class="form-control" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('username')}"
							th:errors="*{username}"></small>

					</div>

					<div class="form-group">
						<label class="col-form-label">Contraseña</label>
						<input type="password" class="form-control" th:field="*{password}" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}"></small>
					</div>


					<div class="input-group mt-4">

						<label class="form-control col-sm-2 mt-2">Rol</label>
						<select th:field="${usuario.rol}" class="form-select mt-2 col-sm-10">
						
						
							<option  th:value="null"> 	Seleccione
							</option>

							<option th:each="rol :${rol}" th:value="${rol.id}" th:text="${rol.nombre}">
							</option>

						</select>

					</div>
					<small class="form-text text-danger" th:if="${#fields.hasErrors('rol')}" th:errors="*{rol}"></small>

					

					<h4 class="card-title mt-3 text-center">

						<button type="submit" class="btn"><span class="mt-1 material-icons-outlined">send</span>
							<p>Enviar</p>
						</button>
					</h4>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<div th:replace="layout/layout :: scripts"></div>
</body>

</html>