<!doctype html>
<html lang="en">

<head th:replace="layout/layout :: head"></head>

<body class="fondo8">
	<header th:replace="layout/layout :: header"></header>

	<div class="container   col-5 py-2">
		<div class="card">
			<div class="card-header añadir text-dark text-center"> <strong th:text="${titulo}"></strong></div>
			<div class="card-body resto">

				<form th:action="@{/central-integral-vehicular/crearHerramienta}" th:object="${herramienta}" method="post">

					<div class="form-group">

						<div class="container">

							<div class="col-sm-12">
								<label class="col-sm-12 col-form-label">Descripción</label>
								<div class="container">

									<input type="text" th:field="*{descripcion}" class="form-control" id="descripcion"
										name="descripcion" />
									<small class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}"
										th:errors="*{descripcion}"></small>
								</div>
								<br>
							</div>
							<div class="container">
								<label class="col-sm-12 col-form-label">Marca</label>
								<div class="col-sm-12">
									<input type="text" th:field="*{marca}" class="form-control" id="marca"
										name="marca" />
								</div>
							</div>
						</div>
						<br>
						<div class="d-flex  col-sm-12  mt-2">
							<div class="col-4">

								<div class="col-sm-12">
									<label class=" col-form-label">Cantidad</label>
									<input type="text" th:field="*{cantidad}" class="form-control" id="cantidad"
										name="cantidad" />

									<small class="form-text text-danger" th:if="${#fields.hasErrors('cantidad')}"
										th:errors="*{cantidad}"></small>
								</div>
							</div>
							<div class="col-10">

								<div class="col-sm-9">
									<label class=" col-form-label">Valor Unitario</label><br>
									<input type="text" th:field="*{valorUnitario}" class="form-control"
										id="valorUnitario" name="valorUnitario" />
									<small class="form-text text-danger" th:if="${#fields.hasErrors('valorUnitario')}"
										th:errors="*{valorUnitario}"></small>
								</div>
							</div>
						</div>
						<h4 class="card-title mt-2 text-center">

							<button type="submit" class="btn"><span class="mt-1 material-icons-outlined">send</span>
								<p>Enviar</p>
							</button>
						</h4>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<div th:replace="layout/layout :: scripts"></div>
</body>

</html>